
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <iframe width="100%" height="500px" src='https://webchat.botframework.com/embed/VyungBotServer?s=4fVa9EWc4z8.cwA.5xI.mi6zVZBoW4m16ThfVUz76u8ToxXWvY4AVhLCD-HJZ5c'></iframe>
    </div>
</body>
</html>
